.calculator {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /* text-align: center; */
  }
  
  .output {
    width: fit-content;
    /* height: 70px; */
    margin-bottom: 10px;
  }

  .calculator img{
    width: 35px;
    position: absolute;

    
   }
   .calculator button{
    border: none !important;
   }
   button.theme{
    display: none;
    border: none;
   }

  .output input {
    width: fit-content;
    /* height: 70px; */
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
  }
  
  .buttons button {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: #eee;
  }
  
  .buttons button:hover {
    background-color: #ccc;
    
  }
  .plus{
    height: 143px !important;   

  }
 .zero{
  width: 143px !important;
  
 }
 .equal{
  height: 143px !important;
 }
 /* Light Theme */
body.light-theme {
  background-color: #f4f4f4;
  color: #333;
}

/* Dark Theme */
body.dark-theme {
  background-color: #333;
  color: #f4f4f4;
}
.buttons button:hover {
  background-color: #ccc;
  color: #f4f4f4;
}
.calculator.dark-theme {
  background-color: #444;
  color: #f4f4f4;
}

.output input.dark-theme {
  background-color: #444;
  color: #f4f4f4;
}

.buttons button.dark-theme {
  background-color: #666;
  color: #f4f4f4;
}

.buttons button.dark-theme:hover {
  background-color: #888;
  color: #f4f4f4;
}



